<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName" default-lazy-init="false">

    <import resource="classpath:au/gov/qld/fire/spring/spring-inc-service.xml"/>

    <bean id="documentService" class="au.gov.qld.fire.service.impl.DocumentServiceImpl" />
    <bean id="entityService" class="au.gov.qld.fire.service.impl.EntityServiceImpl" />
    <bean id="reportService" class="au.gov.qld.fire.crystal.service.impl.ReportServiceImpl" />

    <bean id="crDatabaseHelper" class="au.gov.qld.fire.crystal.CRDatabaseHelper">
        <property name="jndiName" value="${crystal.dataSource.jndiName}" />
        <property name="reportDirectory" value="${crystal.report.directory}" />
    </bean>

</beans>