<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName" default-lazy-init="false">

    <!-- http://static.springsource.org/spring/docs/3.0.x/spring-framework-reference/html/remoting.html -->
	<bean id="httpInvokerProxy" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
	    <property name="serviceUrl" value="${local-context.root}/${crystal.context.root}/remoting/ReportService"/>
	    <property name="serviceInterface" value="au.gov.qld.fire.service.ReportService"/>
		<property name="httpInvokerRequestExecutor">
		    <bean class="org.springframework.remoting.httpinvoker.CommonsHttpInvokerRequestExecutor"/>
		</property>
	</bean>

</beans>