<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName" default-lazy-init="false">

    <import resource="classpath:au/gov/qld/fire/spring/spring-inc-dao.xml" />

    <bean id="injuryDao" class="au.gov.qld.fire.jms.uaa.dao.jpa.InjuryDaoImpl" />
    <bean id="injuryTypeDao" class="au.gov.qld.fire.jms.uaa.dao.jpa.InjuryTypeDaoImpl" />
    <bean id="injuryViewDao" class="au.gov.qld.fire.jms.uaa.dao.jpa.InjuryViewDaoImpl" />
</beans>