/*
                        jaas.config

WebLogic 9.2.3
Copy this file to ${java.home}/jre/lib/security directory
Edit "java.security" file in the same directory, add this line
#
# Default login configuration file
#
#login.config.url.1=file:${user.home}/.java.login.config
login.config.url.1=file:${java.home}/lib/security/jaas.config

REQUIRED - the LoginModule must succeed.
That is, it must return true from the login() method. 
However, regardless of success, the LoginContext continues calling the login()
method on the rest of the LoginModules.
REQUISITE - the LoginModule must succeed.
It must return true from the login() method. Unlike required LoginModules,
the failure of a requisite LoginModule prevents the login() method
of the remaining LoginModules from being called.
SUFFICIENT - the LoginModule isn't required to succeed.
But, if it does succeed, no other LoginModules are called.
That is, once a sufficient LoginModule returns true from it's login() method,
no other login() methods will be called.
OPTIONAL - success isn't required for optional LoginModules.
Whether an optional LoginModule is successful or fails,
the authentication still goes down the stack.
*/
qfrsLogin
{
    au.gov.qld.fire.jms.security.auth.JdbcLoginModule REQUIRED;
};
