<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>QFRS Crystal Reports</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!-- http://www.sdn.sap.com/irj/boc/sdklibrary#section5 -->
    <context-param>
       <param-name>crystal_image_uri</param-name>
       <param-value>/crystalreportviewers</param-value>
    </context-param>
	<context-param>
		<param-name>crystal_image_use_relative</param-name>
		<param-value>webapp</param-value>
	</context-param>
    <context-param>
        <param-name>crystal_exception_info</param-name>
        <param-value>long</param-value>
    </context-param>
    <context-param>
        <param-name>crystal_exception_log_file</param-name>
        <param-value>/tmp/crystal-error.log</param-value>
    </context-param>
    <context-param>
	    <param-name>crystal_use_asynchronous_requests</param-name>
	    <param-value>false</param-value>
    </context-param>

    <filter>
        <filter-name>SessionExpiryFilter</filter-name>
        <filter-class>au.gov.qld.fire.web.servlet.SessionExpiryFilter</filter-class>
    </filter>
    <!--filter>
        <filter-name>TransactionFilter</filter-name>
        <filter-class>au.gov.qld.fire.web.servlet.TransactionFilter</filter-class>
    </filter-->
    <filter>
        <filter-name>DoAsPrivilegedFilter</filter-name>
        <filter-class>au.gov.qld.fire.web.servlet.DoAsPrivilegedFilter</filter-class>
    </filter>
    <!--filter>
        <filter-name>SitemeshPageFilter</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
        <init-param>
            <param-name>debug.pagewriter</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter-->

    <!-- Filters are executed in this order -->
    <filter-mapping>
        <filter-name>SessionExpiryFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!--filter-mapping>
        <filter-name>TransactionFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping-->
    <filter-mapping>
        <filter-name>DoAsPrivilegedFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <!--filter-mapping>
        <filter-name>SitemeshPageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping-->

    <listener>
        <description>Setup Context Listener</description>
        <display-name>Setup Context Listener</display-name>
        <listener-class>au.gov.qld.fire.crystal.web.servlet.SetupContextListener</listener-class>
    </listener>

	<servlet>
		<servlet-name>CrystalReportViewerServlet</servlet-name>
		<servlet-class>com.crystaldecisions.report.web.viewer.CrystalReportViewerServlet</servlet-class>
	</servlet>
    <!--
      Servlet that dispatches request to registered handlers (Controller implementations)
      Has its own application context, by default defined in "{servlet-name}-servlet.xml"
      -->
	<servlet>
		<servlet-name>crystal</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
	    <servlet-name>reportExporter</servlet-name>
	    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CrystalReportViewerServlet</servlet-name>
		<url-pattern>/CrystalReportViewerHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>crystal</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>reportExporter</servlet-name>
	    <url-pattern>/remoting/ReportService</url-pattern>
	</servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- http://www.jboss.org/file-access/default/members/jbossweb/freezone/docs/latest/jndi-resources-howto.html -->
    <resource-env-ref>
        <description>Crystal DataSource (java:comp/env/)</description>
        <resource-env-ref-name>${crystal.dataSource}</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>

	<jsp-config>
		<taglib>
			<taglib-uri>/crystal-tags-reportviewer.tld</taglib-uri>
			<taglib-location>/WEB-INF/tld/crystal-tags-reportviewer.tld</taglib-location>
		</taglib>
	</jsp-config>

    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>jmsRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page> 
            <form-error-page>/login.jsp?error=true</form-error-page>
        </form-login-config>
    </login-config>

</web-app>