<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
    default-autowire="byName" default-lazy-init="false">

    <!-- http://static.springsource.org/spring/docs/3.0.x/spring-framework-reference/html/remoting.html -->
	<bean name="reportExporter" class="org.springframework.remoting.httpinvoker.HttpInvokerServiceExporter">
	    <property name="service" ref="reportService"/>
	    <property name="serviceInterface" value="au.gov.qld.fire.service.ReportService"/>
	</bean>

</beans>