<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName" default-lazy-init="false">

    <context:annotation-config />
    <context:component-scan base-package="au.gov.qld.fire" />

    <aop:aspectj-autoproxy />

	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="false" />
		<property name="generateDdl" value="false" />
		<property name="databasePlatform" value="org.hibernate.dialect.SQLServerDialect" />
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceXmlLocation" value="classpath:META-INF/punits/persistence.xml" />
        <property name="persistenceUnitName" value="jms" />
        <property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
        <property name="jpaPropertyMap">
            <map>
                <entry key="transaction.factory_class" value="org.hibernate.transaction.JTATransactionFactory" />
                <entry key="hibernate.transaction.manager_lookup_class" value="${tx.managerLookupClass}" />
                <entry key="hibernate.transaction.jta.platform" value="${hibernate.transaction.jta.platform}" />
            </map>
        </property>
	</bean>

</beans>